<!DOCTYPE html>
<html lang="en" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <title>EverGreen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<body style=" overflow: hidden;">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"  >EverGreen</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/alarm"><span class="glyphicon "></span> Demo</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid bg-1 text-center" style="background-image:url('https://images.pexels.com/photos/1353938/pexels-photo-1353938.jpeg');background-size: 100% 100%; padding-top: 10%;padding-bottom: 20%;padding-left: 30%;padding-right: 30%; background-repeat: no-repeat; font-weight: bold; ">

        <div style="background-color: #96c18e; border-radius: 25px; padding: 1%; color: black; ">
            <h1 style="font-weight: bolder;">Who Are We?</h1>
            <h3 style="  font-family: 'Times New Roman', Times, serif;">EverGreen</h3>
        </div>
<br>
    <div style="background-color: #91C788; border-radius: 25px; padding: 1%; color: black">
        <h1 style="font-weight: bolder;">Why Join EverGreen</h1>
        <h3 style="  font-family: 'Times New Roman', Times, serif;">EveryGreen is here to help to learn about budgeting and saving.</h3>
    </div>
<br>
    <div style="background-color: #DDFFBC; border-radius: 25px; padding: 1%; color: black">
        <h1 style="font-weight: bolder;">Company Mission</h1>
        <h3 style="  font-family: 'Times New Roman', Times, serif;">To share and improve education about well-being financial.</h3>
    </div>

</div>

</body>
</html>
